* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
}

header,
nav,
section,
article,
footer {
    border: 1px solid grey;
    margin: 5px;
    padding: 5px;
}

.border-grey {
    border: 1px solid grey;
}

nav ul li {
    display: inline;
    pad: 5px;
}

h1,
h2,
h3 {
    margin-left: 5px;
}

form {
    width: 460px;
    height: auto;
    margin: 80px auto;
    border-radius: 10px;
    padding-top: 30px;
    padding-bottom: 20px;
    background-color: #fbfbfb;
    padding-left: 30px;

}

input {
    background-color: #fbfbfb;
    width: 408px;
    height: 40px;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: #ab4493;
    margin-top: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
}

button {
    height: 45px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-transform: uppercase;
    background-color: #ab4493;
    border-color: #ab4493;
    border-style: solid;
    border-radius: 10px;
    width: 420px;
    cursor: pointer;
    color: #fbfbfb;
}